<!--Title-->
<div class='text-center pt-16 md:pt-32'>
	<p class='text-sm md:text-base text-green-500 font-bold'>04 AUGUST 2023
		<span class='text-gray-900'>/</span>
		GETTING STARTED</p>
	<h1 class='font-bold break-normal text-3xl md:text-5xl'>Welcome to Ghostwind
		CSS</h1>
</div>

<!--image-->
<div
	class='container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded'
	style="background-image:url('https://source.unsplash.com/collection/1118905/'); height: 75vh;"
></div>

<!--Container-->
<div class='container max-w-5xl mx-auto -mt-32'>

	<div class='mx-0 sm:mx-6'>

		<div
			class='bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal'
			style='font-family:Georgia,serif;'
		>

			<!--Post Content-->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nihil autem, aspernatur exercitationem facere laudantium quas mollitia doloribus rerum commodi ut, laboriosam culpa error voluptate ipsa id quaerat distinctio quasi delectus veniam inventore totam. Ad porro quis nostrum possimus veritatis culpa ea aut, dignissimos sapiente recusandae? Sunt magni ut provident voluptate deserunt ab at hic? Iure ea numquam eveniet asperiores expedita sed optio officiis, ut blanditiis vitae veritatis incidunt qui pariatur natus velit fuga omnis delectus at ex dicta a. Soluta exercitationem omnis, expedita iste odio earum delectus vel? Debitis, id sit! Numquam error maiores rem voluptas harum quisquam, soluta earum. Laboriosam eligendi perferendis assumenda, consequatur quaerat suscipit! Temporibus neque molestiae tempora nesciunt nisi incidunt quod! Enim aspernatur voluptas delectus nesciunt nihil non labore mollitia atque dicta quam odit expedita ullam quas recusandae, eius id praesentium? Perspiciatis atque repellendus cupiditate, aut id, alias sed et corporis officia impedit praesentium! Facilis, iure modi! Reprehenderit dolorem alias aliquam, fuga beatae quaerat culpa amet quasi quia delectus esse tenetur! Sint aliquam magni saepe ducimus tempore dignissimos vero deserunt nobis hic, placeat, eos praesentium quod voluptates ad repellendus maiores nemo, eaque debitis odio eveniet assumenda est error deleniti provident. Debitis error, officiis qui laboriosam pariatur a, magnam fugiat rem quae corporis, fuga velit cum ab. Nobis ipsa beatae, aliquid libero in ab sapiente labore odit ea, perspiciatis dignissimos delectus perferendis. Nihil consequatur dolores sequi aliquid tempora optio, nisi eos quas neque, necessitatibus corporis, quia unde itaque in ipsam. Autem dolorem nobis nesciunt pariatur eum unde cumque architecto natus at qui porro tempore ipsum provident iste earum, perferendis neque voluptates alias cupiditate deleniti ea aliquam, ad aspernatur? Temporibus voluptates tenetur optio error, animi, aliquam neque deserunt odit assumenda laborum voluptatem maiores ex beatae quis ut? Ratione quidem ipsum doloribus at voluptate id, fugiat dolor assumenda magni est corporis debitis. At officiis quibusdam accusamus maxime voluptatibus repudiandae voluptas exercitationem? Perferendis voluptate maiores doloribus, consectetur architecto modi corporis magnam ullam sint aspernatur vero, dicta explicabo ducimus in suscipit? Quaerat dolorem libero quisquam iure asperiores optio laboriosam omnis provident minima sint placeat ab aspernatur dicta earum nisi cum excepturi, consequuntur debitis eos. Nostrum quis minima, laudantium nulla deserunt, autem facilis eveniet suscipit quasi, sunt aliquid? Sequi, nesciunt possimus mollitia, molestiae iure quas deleniti eius velit, laboriosam impedit maiores reprehenderit tempore! Cupiditate corrupti hic accusantium, impedit aliquam molestias deleniti non libero. Cumque accusantium, mollitia repellendus, nisi commodi vitae impedit nihil voluptates dolorem temporibus quibusdam illum labore minima quae provident fugiat! Quaerat laudantium nihil reiciendis aliquid temporibus expedita cumque ut voluptatum, maiores molestiae, debitis similique quos velit animi modi nisi amet eveniet architecto est officia quam sit perspiciatis libero autem? Ratione tempora ut atque animi ipsam quas est. Nulla consequatur, debitis reiciendis assumenda explicabo ipsa voluptate temporibus, consectetur ea corrupti atque, soluta accusamus optio quos. Nihil veritatis quos est totam ut? Atque tenetur illo, non asperiores earum veniam reiciendis veritatis necessitatibus et fuga quia tempora eum distinctio autem delectus optio ipsam voluptas minus voluptatem perspiciatis unde sint. Consequuntur consectetur odit nostrum reprehenderit nesciunt excepturi tempore obcaecati vitae ipsam, architecto autem magni eaque in nam doloribus sint explicabo rerum reiciendis eius ratione voluptatem. Omnis quasi quaerat voluptate quos magnam illum vitae vel adipisci fugiat earum saepe nisi labore accusantium, in vero doloremque beatae modi laudantium ducimus velit laboriosam nemo molestias possimus. Molestias, vero quo reprehenderit ipsam dignissimos ducimus deleniti illo excepturi est animi quisquam molestiae. Mollitia molestias quis numquam fugiat voluptatibus corrupti, ex ipsa saepe eveniet modi iure labore placeat incidunt iste architecto nam a rem iusto similique hic! Blanditiis placeat et dicta! Libero dolor nemo est consequatur, totam iusto labore ad, excepturi hic quam suscipit error eum, expedita natus porro esse provident! Totam quo nostrum ad maiores nam et aliquam iure quas sunt, minus odio ipsum quasi repellat officiis dolore inventore eligendi! Aliquam, vel hic ad alias illum eaque laborum distinctio architecto dicta sed voluptates perspiciatis officia nobis nostrum libero porro, fuga quasi rerum rem ab doloribus, ipsum voluptatibus exercitationem. Officia cum sapiente placeat ad quia? Magni doloribus minus molestiae repellat. Amet nihil aliquam quae. Nulla beatae dolorem reprehenderit similique dignissimos deserunt unde! Sunt, vero dicta. Assumenda nesciunt doloribus exercitationem hic nemo suscipit aliquid maiores aut magni pariatur. Aut, distinctio eligendi. Incidunt veniam ipsa modi perspiciatis facere ullam illum sit nihil officiis harum voluptatem animi tempora non illo, quas totam architecto magni a officia sed. Consequuntur aliquid praesentium assumenda eveniet laboriosam deleniti soluta corporis molestias repellat. Voluptas magnam dolorem sit animi eius quisquam iure harum nesciunt necessitatibus ducimus sed iste rem, eveniet, reprehenderit sint repellat, veritatis fugit nulla maxime natus recusandae provident numquam itaque ad. Quae, dolores exercitationem! Itaque laudantium enim repellendus et quia ratione nisi, similique ipsam illo sed rerum inventore consequuntur doloremque nostrum aliquam, natus corrupti ullam, aliquid ducimus dolor omnis vitae temporibus! Sint ullam perspiciatis facilis est nobis cupiditate repudiandae, doloremque voluptas aperiam ipsa suscipit ducimus placeat soluta nostrum quaerat, repellat, eius eum voluptate. Sit suscipit eaque ratione animi nesciunt magnam aliquid quisquam similique harum, ipsum quidem hic rem temporibus at nobis ducimus esse vel fugiat reprehenderit expedita delectus et. Aliquam fugiat laudantium iure dolore perferendis sapiente nobis eaque ipsa exercitationem dignissimos minus consectetur, saepe repudiandae qui quaerat, in quasi earum aliquid nostrum repellat officiis sed ullam! Laborum at aut fugit quaerat est deserunt, commodi obcaecati quidem illum excepturi ex, qui tenetur, eaque quas voluptatum pariatur sequi quis ad eos. Libero, atque enim dicta consequatur, ex tempore fuga quis consequuntur doloremque iusto autem ad cumque eveniet facilis recusandae error, debitis tempora animi? At vel soluta aliquam consectetur vitae, adipisci ea quia nemo alias sapiente saepe corporis numquam ducimus voluptas sunt! Quae dolor laboriosam quaerat earum. Facilis tempore perferendis deserunt nemo magni temporibus dolorum error, aspernatur tempora. Reprehenderit voluptatem maxime porro esse laborum, optio ipsa velit molestias facere, nobis sequi atque tempore aliquam? Voluptas quas accusamus corporis, aut blanditiis repellendus cum voluptatum quo id unde ratione sapiente iste. Nihil omnis ducimus repellendus impedit modi labore quasi dicta expedita illo quisquam a nemo voluptate facere ipsam, recusandae corrupti sapiente.
			<!--/ Post Content-->

		</div>

		<!--Subscribe-->
		<div
			class='container font-sans bg-green-100 rounded mt-8 p-4 md:p-24 text-center'
		>
			<h2 class='font-bold break-normal text-2xl md:text-4xl'>Subscribe to
				Ghostwind CSS</h2>
			<h3
				class='font-bold break-normal font-normal text-gray-600 text-base md:text-xl'
			>Get the latest posts delivered right to your inbox</h3>
			<div class='w-full text-center pt-4'>
				<form action='#'>
					<div
						class='max-w-sm mx-auto p-1 pr-0 flex flex-wrap items-center'
					>
						<input
							type='email'
							placeholder='youremail@example.com'
							class='flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none'
						/>
						<button
							type='submit'
							class='flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400'
						>Subscribe</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /Subscribe-->

		<!--Author-->
		<div class='flex w-full items-center font-sans p-8 md:p-24'>
			<img
				class='w-10 h-10 rounded-full mr-4'
				src='http://i.pravatar.cc/300'
				alt='Avatar of Author'
			/>
			<div class='flex-1'>
				<p
					class='text-base font-bold text-base md:text-xl leading-none'
				>Ghostwind CSS</p>
				<p class='text-gray-600 text-xs md:text-base'>Tailwind CSS
					version of Ghost's Casper theme by
					<a
						class='text-gray-800 hover:text-green-500 no-underline border-b-2 border-green-500'
						href='https://www.tailwindtoolbox.com'
					>TailwindToolbox.com</a></p>
			</div>
			<div class='justify-end'>

			</div>
			<!--/Author-->

		</div>

	</div>

</div>

<!--   Scroll Top Button  -->
<button
	class='btn-toggle-round scroll-top js-scroll-top'
	type='button'
	title='Scroll to top'
>
	<svg
		class='progress-circle'
		width='100%'
		height='100%'
		viewBox='-1 -1 102 102'
	>
		<path d='M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98' />
	</svg>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		class='icon icon-tabler icon-tabler-arrow-up'
		width='24'
		height='24'
		viewBox='0 0 24 24'
		stroke-width='1.5'
		stroke='cuurentColor'
		fill='none'
		stroke-linecap='round'
		stroke-linejoin='round'
	>
		<path stroke='none' d='M0 0h24v24H0z' fill='none' />
		<line x1='12' y1='5' x2='12' y2='19' />
		<line x1='18' y1='11' x2='12' y2='5' />
		<line x1='6' y1='11' x2='12' y2='5' />
	</svg>
</button>

<div class='bg-gray-200'>

	<div class='container w-full max-w-6xl mx-auto px-2 py-8'>
		<div class='flex flex-wrap -mx-2'>
			<div class='w-full md:w-1/3 px-2 pb-12'>
				<div
					class='h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth'
				>
					<a href='#' class='no-underline hover:no-underline'>
						<img
							src='https://source.unsplash.com/_AjqGGafofE/400x200'
							class='h-48 w-full rounded-t shadow-lg'
						/>
						<div class='p-6 h-auto md:h-48'>
							<p class='text-gray-600 text-xs md:text-sm'>GETTING
								STARTED</p>
							<div
								class='font-bold text-xl text-gray-900'
							>Aperture Science</div>
							<p class='text-gray-800 font-serif text-base mb-5'>
								I’ll be honest, we’re throwing science at the
								wall here to see what sticks. No idea what it’ll
								do. Probably nothing. Best case scenario you
								might get some super powers. Worst case, some
								tumors, which we’ll cut out.
							</p>
						</div>
						<div
							class='flex items-center justify-between inset-x-0 bottom-0 p-6'
						>
							<img
								class='w-8 h-8 rounded-full mr-4'
								src='http://i.pravatar.cc/300'
								alt='Avatar of Author'
							/>
							<p class='text-gray-600 text-xs md:text-sm'>2 MIN
								READ</p>
						</div>
					</a>
				</div>
			</div>
			<div class='w-full md:w-1/3 px-2 pb-12'>
				<div
					class='h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth'
				>
					<a href='#' class='no-underline hover:no-underline'>
						<img
							src='https://source.unsplash.com/_AjqGGafofE/400x200'
							class='h-48 w-full rounded-t shadow'
						/>
						<div class='p-6 h-auto md:h-48'>
							<p
								class='text-gray-600 text-xs md:text-sm'
							>UNDERWATER</p>
							<div
								class='font-bold text-xl text-gray-900'
							>Biolumini algae diatomeae ecology.</div>
							<p class='text-gray-800 font-serif text-base mb-5'>
								Lorem ipsum dolor sit. Aliquam at ipsum eu nunc
								commodo posuere et sit amet ligula.
							</p>
						</div>
						<div
							class='flex items-center justify-between inset-x-0 bottom-0 p-6'
						>
							<img
								class='w-8 h-8 rounded-full mr-4'
								src='http://i.pravatar.cc/300'
								alt='Avatar of Author'
							/>
							<p class='text-gray-600 text-xs md:text-sm'>4 MIN
								READ</p>
						</div>
					</a>
				</div>
			</div>
			<div class='w-full md:w-1/3 px-2 pb-12'>
				<div
					class='h-full bg-white rounded overflow-hidden shadow-md hover:shadow-lg relative smooth'
				>
					<a href='#' class='no-underline hover:no-underline'>
						<img
							src='https://source.unsplash.com/DEa8_vxKlEo/400x200'
							class='h-48 w-full rounded-t shadow'
						/>
						<div class='p-6 h-auto md:h-48'>
							<p
								class='text-gray-600 text-xs md:text-sm'
							>FOREST</p>
							<div class='font-bold text-xl text-gray-900'>What is
								life but a teardrop in the eye of infinity?</div>
							<p class='text-gray-800 font-serif text-base mb-5'>
								Mollis pretium integer eros et dui orci, lectus
								nec elit sagittis neque. Dignissim ac nullam
								semper aliquet volutpat, ut scelerisque.
							</p>
						</div>
						<div
							class='flex items-center justify-between inset-x-0 bottom-0 p-6'
						>
							<img
								class='w-8 h-8 rounded-full mr-4'
								src='http://i.pravatar.cc/300'
								alt='Avatar of Author'
							/>
							<p class='text-gray-600 text-xs md:text-sm'>7 MIN
								READ</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>


<script>
	/* Progress bar */
	var h = document.documentElement,
		  b = document.body,
		  st = 'scrollTop',
		  sh = 'scrollHeight',
		  progress = document.querySelector('#progress'),
		  scroll;
	var scrollpos = window.scrollY;
	var header = document.getElementById("header");

	document.addEventListener('scroll', function() {

		/*Refresh scroll % width*/
		scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
		progress.style.setProperty('--scroll', scroll + '%');

		/*Apply classes for slide in bar*/
		scrollpos = window.scrollY;

    if(scrollpos > 100){
      header.classList.remove("hidden");
	  header.classList.remove("fadeOutUp");
	  header.classList.add("slideInDown");
    }
    else {
	  header.classList.remove("slideInDown");
      header.classList.add("fadeOutUp");
	  header.classList.add("hidden");
    }

	});

// scroll to top	
const t=document.querySelector(".js-scroll-top");if(t){t.onclick=()=>{window.scrollTo({top:0,behavior:"smooth"})};const e=document.querySelector(".scroll-top path"),o=e.getTotalLength();e.style.transition=e.style.WebkitTransition="none",e.style.strokeDasharray=`${o} ${o}`,e.style.strokeDashoffset=o,e.getBoundingClientRect(),e.style.transition=e.style.WebkitTransition="stroke-dashoffset 10ms linear";const n=function(){const t=window.scrollY||window.scrollTopBtn||document.documentElement.scrollTopBtn,n=Math.max(document.body.scrollHeight,document.documentElement.scrollHeight,document.body.offsetHeight,document.documentElement.offsetHeight,document.body.clientHeight,document.documentElement.clientHeight),s=Math.max(document.documentElement.clientHeight,window.innerHeight||0);var l=o-t*o/(n-s);e.style.strokeDashoffset=l};n();const s=100;window.addEventListener("scroll",(function(e){n();(window.scrollY||window.scrollTopBtn||document.getElementsByTagName("html")[0].scrollTopBtn)>s?t.classList.add("is-active"):t.classList.remove("is-active")}),!1)}	

</script>