<!-- Card List Section -->
<section
	x-data='{ articles: {{json articles}} }'
	class='w-screen bg-gray-100 dark:bg-gray-900 py-10 px-12'
>
	<!-- Card Grid -->
	<div
		class='grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'
	>
		<template x-for='article in articles' :key='article._id'>
			<!-- Card Item -->
			<div
				class='my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-white dark:bg-gray-800 duration-300 hover:-translate-y-1'
			>
				<!-- Clickable Area -->
				<a class='cursor-pointer'>
					<figure>
						<!-- Image -->
						<a :href="'/articles/' + article.slug">
							<img
								:src="article.image + '?auto=format&fit=crop&w=400&q=50'"
								class='rounded-t h-72 w-full object-cover'
							/>
						</a>

						<figcaption class='p-4'>
							<!-- Title -->
							<a :href="'/articles/' + article.slug">
								<p
									class='text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300'
									x-text='article.name'
								>
									<!-- Post Title -->
								</p>
							</a>

							<!-- Description -->
							<small
								class='leading-5 text-gray-500 dark:text-gray-400'
								x-text='article.description'
							>
								<!-- Post Description -->
							</small>
						</figcaption>
					</figure>
				</a>
			</div>
		</template>
	</div>
</section>