<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Just A Pill - Sharing is learning</title>

		<!-- Google Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap'
			rel='stylesheet'
		/>

		<!-- Include stylesheet editor -->
		<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
		<!-- Include the Quill library -->
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

		<!-- AlpineJS -->
		<script
			defer
			src='https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js'
		></script>

		<!-- Tailwind -->
		<script src='https://cdn.tailwindcss.com'></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">

		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />

		<!-- Styles -->
		<link rel='stylesheet' href='/css/app.css' />

	</head>
	<body class="bg-white font-sans leading-normal tracking-normal">

		{{! Fixed in every page }}
		{{> header}}

		{{{body}}}

		{{! Fixed in every page }}
		{{> footer}}

		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
		<script src="/css/styles.js"></script>
	</body>

</html>


